.header {
    display: flex;
    height: 80px;
    background-color:cornflowerblue;
    color: white;
    justify-content:flex-end;
    align-items:center;
}

.header a{
    margin-right: 1rem;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    margin-right: 30px;
    font-size: 30px;
    color: white;
}

.header a:hover{
    text-decoration: underline;
}
